/* === Rotate Box === */
.rotate-box-1.square-icon .rotate-box-icon, .rotate-box-2.square-icon .rotate-box-icon {
	background-color: #363940;
}


/* === Buttons === */
.btn-default, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active { 
	background: #363940;
	color: #fff;
}
.btn-default:hover {
	color: #fff;
	background: #28a0b8;
}
.btn-primary, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active {
	background-color: #3078B3;
	color: #FFF;
}
.btn-primary:hover {
	background-color: #1867A8;
	color: #FFF;
}
.btn-danger, .btn-danger:focus, .btn-danger.focus, .btn-danger:active, .btn-danger.active {
	background-color: #E7392D;
	color: #FFF;
}
.btn-danger:hover {
	background-color: #D81508;
	color: #FFF;
}



/* === To Top === */
.scrolltotop {
	color: #676D75;
	border: 2px solid #676D75;
}



/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {

.navbar-collapse {
		background-color: #676D75;
		border-color: #fff !important;
	}
.navbar-default.navbar-shrink .navbar-nav > li.active > a {
	box-shadow: none !important;
}
.navbar-nav > li > a:hover, .navbar-nav > li > a:focus, .navbar-nav > li.active > a {
	color: #111;
}


}