.parallax2, .parallax1 .parallax3, .parallax4 {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .parallax4 {
    background: url("../images/pexels-danbuilds-633409.jpg");
    background-size: cover;
    background-attachment: fixed;
    min-height: 80%;
    justify-content: center;
    align-items: center;
    display: flex;
  }

#team-intro {
    display: table;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
  
    background: rgba(0, 0, 0, 0.3);
    background-attachment: fixed;
  }
  
  #team-intro video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
  }


#AI {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/pexels-veeterzy-303383.jpg) fixed center center;
    background-size: cover;
    height: 70%;
    justify-content: center;
    display: flex;
    align-items: center;
    /* padding: 80px 0; */
  }
  
  #AI .AI-title {
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-size: 48px;
    font-weight: 400;
    /* letter-spacing: 5px; */
    line-height: 50px;
    font-family: 'Montserrat Thin', sans-serif;
  }
  .heading-primary-main {
    margin-top: 50px;
    justify-content: center;
    align-items: center;
  	display: flex;
  	/* font-size: 60px; */
    /* font-weight: 100; */
  	/* font-weight: 10; */
  	/* letter-spacing: 9px; */
    color: #fff;
  	text-transform: uppercase;

  	backface-visibility: hidden;
  	/* margin-bottom: 30px; */
  }

  /* .row1 {
    height: 80%;
  } */

  .responsive-container-block {
    min-height: 75px;
    /* height: fit-content; */
    height: 80vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    justify-content: space-evenly;
    align-items: center;
  }

  .cylinder {
    width: 11.5%;
    height: 100%;                
    position: relative;         /* For positioning children if needed */
    margin: 0.5%;                 
    /* border-radius: 100px / 100px;   Creates a capsule/cylinder shape */
    overflow: hidden;           /* Ensures child content stays within shape */
    background-color: #ccc;     /* Fallback background color */
    transition: transform 0.3s ease;  /* Smooth transition for hover effect */
    /* align-items: center;
    display: flex; */
  }

  @media (max-width: 1024px) {
    .responsive-container-block {
        height: 50vh;
    }
}

/* Small tablets / Large phones (max-width: 800px) */
@media (max-width: 800px) {
    .responsive-container-block {
        height: 45vh;
    }
}

/* Medium-sized phones (max-width: 600px) */
@media (max-width: 600px) {
    .responsive-container-block {
        height: 40vh;
    }
}

/* Small phones (max-width: 480px) */
@media (max-width: 480px) {
    .responsive-container-block {
        height: 35vh;
    }
}

/* Very small phones (max-width: 360px) */
@media (max-width: 360px) {
    .responsive-container-block {
        height: 30vh;
    }
}

  #c1 {
    position: relative;
    /* top: 50px;  Moves down by 50px */
     height: 60.3%;
     display: flex;
     justify-content: center;
     /* align-items: center; */
  }

  #c2 {
    position: relative;
    /* top: 50px;  Moves down by 50px */
     height: 69.9%;
     display: flex;
     justify-content: center;
  }

  #c3 {
    position: relative;
    /* top: 50px;  Moves down by 50px */
     height: 85.5%;
     display: flex;
     justify-content: center;
  }

  #c4 {
    position: relative;
    /* top: 50px;  Moves down by 50px */
     /* height: 0.3%; */
     display: flex;
     justify-content: center;
  }

  #c5 {
    position: relative;
    /* top: 50px;  Moves down by 50px */
     /* height: 0.3%; */
     display: flex;
     justify-content: center;
  }

  #c6 {
    position: relative;
    /* top: 50px;  Moves down by 50px */
    height: 85.5%;
    display: flex;
     justify-content: center;
  }

  #c7 {
    position: relative;
    /* top: 50px;  Moves down by 50px */
     height: 69.9%;
     display: flex;
     justify-content: center;
  }

  #c8 {
    position: relative;
    /* top: 50px;  Moves down by 50px */
     height: 60.3%;
     display: flex;
     justify-content: center;
  }
  
  /* #c1 img {
    transform: translate(-10px, 50px);    
    object-fit: cover; 
  }
   */

  
  /* #c2 {
    position: relative;  
    top: -5px;
  }
  
  #c3 {
    position: relative;
    top: 87px;  
  }
  
  #c4 {
    position: relative;
    top: 19px;  
  }
  
  #c5 {
    position: relative;
    top: 55px;  
  }
  
  #c6 {
    position: relative;
    top: -12px;  
  }
  
  #c7 {
    position: relative; 
    top: 83px; 
  }
  
  #c8 {
    position: relative;
    top: 49px;  
  } */
  
  /* Hover effect: scale up the cylinder slightly */
  .cylinder:hover {
    transform: scale(1.1);
  }


  #AI-team {
    position: relative;
    overflow: hidden;
    padding: 80px 0 20px 0;
  }
  
  #AI-team #bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  
  #AI-team::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8); /* Adjust opacity to control the tint intensity */
    z-index: -1;
  }
  
  #AI-team .container {
    position: relative;
    z-index: 1;
  }
  
  #AI-team .service-item {
    margin-bottom: 20px;
  }
  
  #AI-team .service-icon {
    float: left;
    background: #363940;
    padding: 16px;
    border-radius: 50%;
    transition: 0.5s;
    border: 1px solid #363940;
  }
  
  #AI-team .service-icon i {
    color: #fff;
    font-size: 24px;
  }
  
  #AI-team .service-item:hover .service-icon {
    background: #fff;
  }
  
  #AI-team .service-item:hover .service-icon i {
    color: #363940;
  }
  
  #AI-team .service-title {
    margin-left: 80px;
    font-weight: 700;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  
  #AI-team .service-description {
    margin-left: 80px;
    line-height: 24px;
  }

  .AI-team-card {
    justify-self: center;
    position: relative;
    height: 350px;
    width: 250px;
    /* margin: 10px 0; */
    transition: ease all 2.3s;
    margin: 0 0 60px 0;
    /* perspective: 1200px; */
  }
  .AI-team-card:hover .cover {
    transform: rotateX(0deg) rotateY(-180deg);
  }
  .AI-team-card:hover .cover:before {
    transform: translateZ(30px);
  }
  .AI-team-card:hover .cover:after {
    background-color: black;
  }
  .AI-team-card:hover .cover h1 {
    transform: translateZ(100px);
  }
  .AI-team-card:hover .cover .price {
    transform: translateZ(60px);
  }
  .AI-team-card:hover .cover a {
    transform: translateZ(-60px) rotatey(-180deg);
  }
  .AI-team-card .cover {
    position: relative;
    /* height: 100%;
    width: 100%; */
    transform-style: preserve-3d;
    transition: ease all 0.8s;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .AI-team-card .cover:before {
    content: "";
    position: absolute;
    /* border: 5px solid rgba(255, 255, 255, 0.5); */
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    z-index: 2;
    transition: ease all 0.8s;
    transform-style: preserve-3d;
    transform: translateZ(0px);
  }
  .AI-team-card .cover:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 2;
    transition: ease all 0.8s;
    background: rgba(0, 0, 0, 0.1);
  }
  .AI-team-card .cover.item-a {
    background-image: url("../output-onlinepngtools.png");
    background-size: cover;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* transform: translate(0px 600px); */
  }
  .AI-team-card .cover.item-b {
    background-image: url("../devs/CROPPED_profile_logo_YTROF_072f113443dc4c8a12d04cc1d2dfda98.webp");
    background-size: cover;
  }
  .AI-team-card .cover.item-c {
    background-image: url("../devs/hassan.jpeg");
    /* background-size: cover; */
    /* transform: translate(0px, 50px); */
    background-position: center;
    background-position: 0px -150px;
  }

  .AI-team-card .cover.item-c img {
    background-image: url("../devs/hassan.jpeg");
    background-size: contain;
    transform: translate(0px, 10px);
  }
  .AI-team-card .cover h1 {
    font-weight: 300;
    position: absolute;
    bottom: 55px;
    left: 50px;
    color: white;
    transform-style: preserve-3d;
    transition: ease all 0.8s;
    z-index: 3;
    font-size: 1em;
    transform: translateZ(0px);
  }
  .AI-team-card .cover .price {
    font-weight: 200;
    position: absolute;
    top: 55px;
    right: 50px;
    color: white;
    transform-style: preserve-3d;
    transition: ease all 0.8s;
    z-index: 4;
    font-size: 2em;
    transform: translateZ(0px);
  }
  .AI-team-card .AI-team-card-back {
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    /* background: #686868; */
    /* background-image: url("../images/simple-wallpaper-3-1080x1920-v0-zxepjakkwf8a1.webp"); */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */

    /* backdrop-filter: blur(10px); */

    /* filter: blur(5px); */
  /* Grey overlay */
    /* background-color: rgba(128, 128, 128, 0.5); */

    transform-style: preserve-3d;
    transition: ease all 0.8s;
    transform: translateZ(-1px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .AI-team-card .AI-team-card-back .all-back {
    transform-style: preserve-3d;
    transition: ease transform 0.8s, ease background 0.5s;
    transform: translateZ(-1px) rotatey(-180deg);
    background: transparent;
    /* backdrop-filter: blur(5px); */
    /* border: 1px solid white; */
    height: 100%;
    /* font-weight: 100;
    font-size: 1em;*/
    color: white; 
    padding: 14px 32px;
    outline: none;
    text-decoration: none;
    overflow: hidden;
  }

  .AI-team-card .AI-team-card-back .all-back .content {
    /* position: absolute; */
    padding-top: 40px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px #fff; */
    padding-bottom: 30px;
  }
  
  .AI-team-card .AI-team-card-back .all-back .content .detail {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    /* border: 2px #fff; */
  }
  
  .AI-team-card .AI-team-card-back .all-back .content .detail h2 {
    color: #d9d9d9;
    font-size: 20px;
    font-weight: bolder;
    /* margin-top: 40px; */
  }
  
  .AI-team-card .AI-team-card-back .all-back .content .detail h2 span {
    /* padding-top: 40px; */
    font-size: 17px;
    color: #989898;
    font-weight: bold;
  }
  
  .sci {
    /* position: relative; */
    display: flex;
    padding-top: 20px;
    justify-self: center;
    padding-left: 0px;
    /* margin-right: 3px; */
    /* margin-left: 30px; */
    transform: rotatey(-180deg);
  }
  
  .sci li {
    list-style: none;
    /* margin-right: 4px; */
  }
  
  .sci li a {
    margin-right: 15px;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: transparent;
    font-size: 2em;
    color: #828282;
    text-decoration: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: 0.5s;
  }
  
  .sci li a:hover {
    background: #e9eaeb;
    color: #000000;
  }

  #video1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; 
    height: 100%;
    object-fit: cover;
  }

  #web-team {
    background: linear-gradient(to bottom, #f0f0f0, #b1b1b1);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 0px 60px 60px 0px
  }



  /* ------------------------------------------------- web team ----------------------------------------------- */
  
  .profile-container {
    position: relative;
    z-index: 1;
    display: flex;
    padding: 1em;
  }
  .profile-container .card2 {
    position: relative;
    width: 300px;
    height: 450px;
    margin: 1em;
    /* background: rgb(57, 57, 57, 0.09); */
    background: linear-gradient(to top, #b8b8b8, #eeeeee);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(40px);
    border: solid 2px transparent;
    background-clip: padding-box;
    transition: ease 0.5s;
    box-shadow: 0px 10px 10px rgba(46, 54, 68, 0.03);
  }
  .profile-container .card2 .content2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.5;
    transition: 0.5s;
  }
  .profile-container .card2 .content2 .img2 {
    position: relative;
    width: 200px;
    height: 250px;
    border-radius: 5%;
    overflow: hidden;
    /* background-image: url("../devs/Abdul\ Moiz.PNG"); */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    border: 10px solid rgba(0, 0, 0, 0.25);
  }
  .profile-container .card2 .content2 .img2 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


  .profile-container .card2 .content2 .cardContent2 .name-heading2 {
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 0px;
    margin-top: 18px;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    /* margin: 0px 0 0px 0px; */
    /* line-height: 0.3em; */
  }
  .profile-container .card2 .content2 .cardContent2 .dev-type {
    display: flex;
    justify-self: center;
    font-size: 15px;
    font-weight: 300;
    text-transform: initial;
    /* line-height: 0.01em; */
  }
  .profile-container .card2 .sci {
    position: absolute;
    bottom: 5px;
    /* margin-right: 30px; */
    margin: 0px 17px 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  
  .profile-container .card2 .sci li {
    margin: 0 10px;
    transform: translateY(10px);
    opacity: 0;
    transition: 0.5s;
    transition-delay: calc(0.1s * var(--i));
  }
  .profile-container .card2 .sci li a {
    font-size: 24px;
    transform: rotatey(-180deg);
  }
  .profile-container .card2:hover .content2 {
    
    opacity: 1;
    /* transform: translatex(-20px); */
  }
  
  .profile-container .card2:hover {
    /* background: linear-gradient(to top, #a6a6a6, #eeeeee); */
    transition: ease 1s;
    background: linear-gradient(to top, #afafaf, #eeeeee);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    opacity: 1;
    transform: translateY(-20px);
    backdrop-filter: blur(40px);
    border: solid 2px transparent;
    background-clip: padding-box;
    box-shadow: 0px 10px 10px rgba(46, 54, 68, 0.03);
  }
  
  .profile-container .card2:hover .sci li {
    transform: translateY(0px);
    opacity: 1;
  }
